.defaultCard, .borderCard {
  background-color: white;
}

.defaultCard {
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #07C06A; //TODO: make it a variable
    }
  }
  
.borderCard {
    border: 15px solid transparent;
    transition: border-color 0.3s ease;
    &:hover {
      border-color: #07C06A;
    }
  }
  