@import '../../variables.scss';

@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

.defaultButton, .iconButton {
    border: 0;
    width: 100%;
    cursor: pointer;
    font-size: 19px;
    display: flex;
    align-items: center;
    max-width: 310px;
    padding: 11px 30px;  
    background-color: $secondary-gray;
    color: white;
    gap: 16px;
    height: 70px;
    border-radius: 37px;
    border: 2px solid transparent;

}


.defaultButton {
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &:hover {
      &:not(.disabled) {
        border-color: white;
        background-color: $primary-green;
      }
    }
  }

.icon {
    width: 70px;
}

.text {
    line-height: 24px;
}

.defaultButton .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip; 
    text-align: center;

}

.iconButton .text {
    @include line-clamp(2);
    white-space: normal; 
    word-wrap: break-word;
    text-align: left;
}

.disabled {
    cursor: not-allowed;
    background-color: $disabled;
}